    ol {
        list-style-type: none;
    }
    
    li {
        position: relative;
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
    }
    
    .timeline-line {
        border-left: 5px solid blue;
        position: absolute;
        margin-left: 90px;
        z-index: -1;
        height: 100%;
        min-height: 100%;
    }
    
    .date,
    .event {
        display: inline-block
    }
    
    .date {
        border-radius: 10px;
        background-color: lightgreen;
        width: 60px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 0 0 auto;
        margin: 10px 10px 10px 20px;
    }
    
    .event {
        padding: 1em;
    }
    
    .timeline-event {
        margin: 10px 0;
        margin-left: 20px;
        padding-left: 20px;
        z-index: 0;
        list-style: none;
        padding: 0;
        border-radius: 50px;
        transition: all 1s;
        /*Flex for the win*/
        display: flex;
        align-items: center;
    }
    
    .date,
    .event {
        display: inline-block;
    }
    
    .timeline-events {
        margin: 0 0 0 20px;
        padding: 0;
        list-style: none;
    }
    
    .timeline {
        position: relative;
    }